.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content:center;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0px;
  right:0px;
  top:0px;
  bottom:0px;
} 